<div class="jumbotron">
  <h2>Mimi</h2>
  <p class="lead">Just talking. No one knows who you are</p>
</div>

<div class="row marketing">
  <div class="col-sm-12">
    <h3>Select your language:</h3>
    <ul>
      <%= for locale <- Application.get_env(:settings, :available_locales) do %>
        <li><%= link locale, to: page_path(@conn, :index, locale: locale) %></li>
      <% end %>
    </ul>
  </div>
</div>
